h1,h2,h3,h4,h5,p {
    padding: 0;
    margin: 0;    
}
h2,a {
    display: block;
    text-decoration: none;
}
.dropDown:active,.dropDown:focus{
    background: #ababab;
}
ul,ol {
    margin:0;
}
a:visited{
    color: blue;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.chapter {
    border: 1px solid black;
}
.imgLarge:focus {
    width: 50%;
}
.hide-menu {
    display:none;
}
.show-menu {
    display: block;
}